body {
    /*background-color: lightblue; */
    height: 200px;
    width: 200px;
}
  
.rcorners {
    margin: auto;
    text-align: center;
    border-radius: 12px;
    background: powderblue;
    width: 50%;
    height: relative;
    font-size: 16px;
}

.timerContainer {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 28px;
}

.expandContainer {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.timerButtonsContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}
