body {
    /*background-color: lightblue; */
    height: 200px;
    width: 200px;
}
  
.stateContainer {
    height: 40px;
}

.rcorners {
    margin: auto;
    text-align: center;
    border-radius: 12px;
    background: powderblue;
    width: 75%;
    height: relative;
    font-size: 16px;
}

.timerContainer {
    margin: auto;
    text-align: center;
    font-size: 28px;
    height: 32px;
}

.coffeeMugContainer {
    position: relative;
    text-align: left;
}

.mugImage {
    padding-left: 40px;
    width: 150px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expandContainer {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.timerButtonsContainer {
    padding-top: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
}
